.card-text {
	font-size: 15px;
}
.card-block .fa{
	color: rgba(0,0,0,0.6);
}
.card-block .fa:hover {
color: rgba(148, 40,37,0.6);
/*font-size: 30px;*/
}
#name1-1{
	margin-top: 15px;
}
.jolin {
	/*height: 1000px;*/
	border: 1px solid blue;
}

/*>>>>>>>>registrar usuariooo<<<<<*/
.registrarusuario {
	border-radius: 10px;
	background: #fff;
	padding-bottom: 20px;
}
.newuser{
	color: rgba(148, 40,37,0.6);
	border-bottom: 1px solid rgba(155,155,155,0.5);
}
.first {
	border-top: 1px solid rgba(155,155,155,0.6);
}
.registrarusuario label {
	margin-top: 20px;
	color: rgba(0,0,0,0.6);
}

